@model User
<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%;
            line-height: 1.8;
        }
    </style>
</head>
<body>

    <!-- Navbar (sit on top) -->
    <div class="w-full">
        <div class="w3-top">
            <div class="w3-bar w3-white w3-card py-1" id="myNavbar">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button w3-wide">Logo</a>
                <!-- Right-sided navbar links -->
                <div class="w3-right w3-hide-small">
                    <a class="w3-bar-item w3-button" asp-area="" asp-controller="Home" asp-action="Order">Order</a>
                    <a asp-area="" asp-controller="Home" asp-action="Product" class="w3-bar-item w3-button">
                        <i class="fa fa-user"></i>
                        Product
                    </a>
                    <a asp-area=" " asp-controller="Home" asp-action="Revenue" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Revenue</a>
                    <a asp-area=" " asp-controller="Home" asp-action="Customer" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> Customer</a>
                    @if(!User!.Identity!.IsAuthenticated){
                        <a asp-area=" " asp-controller="Account" asp-action="login" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Login</a>
                    }
                    else{
                        <a asp-area=" " asp-controller="Account" asp-action="index" class="w3-bar-item w3-button rounded"><i class="fa fa-envelope">@(User.Identity.Name)</i></a>
  
                    }
                        <a asp-area=" " asp-controller="Account" asp-action="Logout" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Logout</a>
                </div>
                <!-- Hide right-floated links on small screens and replace them with a menu icon -->
                <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
        <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
            <a class="w3-bar-item w3-button" asp-area="" asp-controller="Home" asp-action="Order">Order</a>
            <a asp-area="" asp-controller="Home" asp-action="Product" class="w3-bar-item w3-button"><i class="fa fa-user"></i>Product</a>
            <a asp-area=" " asp-controller="Home" asp-action="Revenue" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Revenue</a>
            <a asp-area=" " asp-controller="Home" asp-action="Customer" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> Customer</a>
            @if(!User!.Identity!.IsAuthenticated){
                  <a asp-area=" " asp-controller="Account" asp-action="login" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Login</a>
            }
            else{
                  <a asp-area=" " asp-controller="Account" asp-action="index" class="w3-bar-item w3-button rounded"><i class="fa fa-envelope">@(User.Identity.Name)</i></a>
            }
            <a asp-area=" " asp-controller="Account" asp-action="Logout" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Logout</a>
        </nav>
    </div>
    <div class="w-full mt-20">
        <div class="w-4/5 m-auto">
            @RenderBody()
            
        </div>
    </div>
    
    <script>
        
        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>
</body>
</html>
